@use '../abstracts/variables' as *;

.footer {
  border-top: 1px solid var(--color-border);
  
  &__inner {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: var(--spacing-64) var(--spacing-80);
  }

  &__top {
    display: flex;
    margin-bottom: var(--spacing-64);
    flex-wrap: wrap;
    gap: var(--spacing-80);
  }

  &__brand {
    flex: 1;
    max-width: 16.25rem; /* 260px */
  }

  &__brand-title {
    @include text-style("logo");
    margin-bottom: var(--spacing-16);
  }

  &__brand-desc {
    @include text-style("tiny-lg");
    pointer-events: none;
  }

  &__links {
    flex: 1;
    display: flex;
    gap: var(--spacing-80);
    flex-wrap: wrap;
  }

  &__nav-group {
    flex: 1;
    max-width: 16.25rem; /* 260px */
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    font-size: var(--fz-body-sm);
  }

  &__nav-title {
    line-height: 1.5;
    font-weight: var(--fw-s-bold);
    letter-spacing: 0;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
  }

  &__nav-link {
    @include text-style("tiny-lg");
    transition: color var(--transition-base);

    &:hover {
      color: var(--color-text-main);
    }
  }

  &__bottom {
    @include text-style("tiny-lg");
    font-size: var(--fz-tiny-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-border);
    padding-top: var(--spacing-24);
    flex-wrap: wrap;
    gap: var(--spacing-16);
  }
}
