@use '../abstracts/variables' as *;

.footer {
  border-top: 1px solid var(--color-border);
  
  &__inner {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: var(--spacing-64) var(--spacing-80);
    padding-bottom: 0;

    @include mobile-lg {
      padding: var(--container-padding);
      padding-bottom: 0;
    }
  }

  // Shop 페이지 전용 여백 (태블릿 이하 하단 고정 바 대응)
  &--has-bottom-bar {
    @include tablet {
      padding-bottom: var(--spacing-92);
    }
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-80);
    margin-bottom: var(--spacing-64);

    @include tablet {
      row-gap: var(--spacing-64);
    }

    @include mobile-lg {
      flex-direction: column;
      margin-bottom: var(--container-padding);
    }

    @include mobile-sm {
      gap: var(--spacing-48);
    }
  }

  &__brand {
    flex: 1;
    max-width: 16.25rem; /* 260px */
    min-width: 8.75rem; /* 140px */
    
    &-title {
      @include text-style("logo");
      margin-bottom: var(--spacing-16);
    }
  
    &-desc {
      @include text-style("tiny-lg");
      pointer-events: none;
    }
  }


  &__links {
    flex: 1;
    display: flex;
    gap: var(--spacing-80);

    @include tablet {
      gap: var(--spacing-64)
    }

    @include mobile-lg {
      flex-wrap: wrap
    }

    @include mobile-sm {
      flex-direction: column;
      gap: var(--spacing-48)
    }
  }

  &__nav-group {
    @include text-style("tiny-lg");
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    max-width: 16.25rem; /* 260px */
    min-width: 8.75rem; /* 140px */
  }

  &__nav-title {
    font-weight: var(--fw-s-bold);
    letter-spacing: 0;
  }
  
  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
  }

  &__nav-group:first-child .footer__nav-item {
    font-family: var(--font-en);
    font-weight: var(--fw-regular);
  }

  &__bottom {
    @include text-style("tiny-md");
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-border);
    padding: var(--spacing-24) 0;
    flex-wrap: wrap;

    @include mobile-sm {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--spacing-12);
    }
  }

  &__copyright {
    font-family: var(--font-en);
  }

  &__made {
    font-weight: var(--fw-s-bold);
    letter-spacing: 0.025rem;
  }
}
