@use 'sass:color';
@use '../abstracts/variables' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 100;

  &__banner {
    background-color: var(--color-bg-alpha);
    border-bottom: 1px solid var(--color-border);
    backdrop-filter: var(--blur-glass);
    height: 4.75rem; // 76px
    display: flex;
    align-items: center;
  }

  &__nav {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
  }

  &__nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--container-max-width);
    padding: 0 var(--spacing-80);

    @include mobile-lg {
      padding: 0 var(--container-padding);
    }
  }

  &__logo {
    @include flex-center;
    gap: var(--spacing-12);

    img, span {
      transition: opacity var(--transition-fast);
      opacity: 1;
    }

    &:hover img,
    &:hover span {
      opacity: 0.7;
    }
  }

  &__logo-icon {
    width: 2rem; /* 32px */

    @include tablet {
      width: 2.2rem;
    }
  }

  &__logo-text {
    @include text-style("logo");

    @include tablet {
      display: none;
    }

    @include mobile-lg {
      display: block;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-48);
    margin: 0;
    padding: 0;

    @include tablet {
      @include text-style("desc-sm");
      gap: var(--spacing-36);
    }

    @include mobile-lg {
      display: none;
    }
  }

  &__menu-link {
    font-family: var(--font-en);
    color: var(--color-text-sub);
    transition: color var(--transition-fast);

    &.active {
      color: var(--color-text-main);
    }
  }

  &__actions {
    @include mobile-lg {
      display: none;
    }
  }

  // --------------------------------------------------
  // [Mobile Menu]
  // --------------------------------------------------

  &__hamburger {
    display: none;
    padding: var(--spacing-8);
    margin: calc(-1 * var(--spacing-8));
    transition: opacity var(--transition-fast);

    @include mobile-lg {
      @include flex-center
    }

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 1.8rem;
    }
  }

  &__mobile-menu {
    @include glass-effect;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 0 var(--container-padding);
    background-color: var(--color-bg-alpha);
    transition: opacity var(--transition-base);
    z-index: 200;

    &.is-opening {
      opacity: 1;
    }

    &-top {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 4.75rem; // 헤더 높이와 동일
    }

    &-close {
      @include flex-center;
      padding: var(--spacing-8);
      margin: calc(-1 * var(--spacing-8));
      transition: opacity var(--transition-fast);

      img {
        width: 1.8rem;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    &-nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-list {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      border-top: 1px solid var(--color-border);
    }

    &-link {
      @include text-style("caption-md");
      display: block;
      padding: var(--spacing-20) 0;
      font-family: var(--font-en);
      border-bottom: 1px solid var(--color-border);
      transition: color var(--transition-fast), background-color var(--transition-fast) !important;

      &:hover {
        background-color: var(--color-surface);
      }

      &.active {
        color: var(--color-text-main);
      }
    }

    &-footer {
      padding: var(--spacing-28) 0;
    }
  }
}
