@use '../abstracts/variables' as *;
@use 'sass:color';

.cta {
  width: 100%;
  text-align: center;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 37.5rem; /* 600px */
    will-change: transform, opacity;
  }

  &__title {
    @include text-style("title-md");
    margin-bottom: var(--spacing-24);
  }

  &__title-highlight {
    color: var(--color-primary);
  }

  &__desc {
    @include text-style("caption-md");
    margin-bottom: var(--spacing-48);
  }

  /* .cta__btn 레이아웃 오버라이드는 Button 컴포넌트의 className prop을 통해 처리됩니다 */
}
