@use '../abstracts/variables' as *;

.story {
  @include flex-center-column;
  gap: var(--spacing-48);
  margin-top: var(--spacing-64);

  @include mobile-sm {
    margin-top: var(--spacing-32);
  }

  &__row {
    @include flex-center;
    gap: var(--spacing-80);

    &--reverse {
      flex-direction: row-reverse;
    }

    @include tablet {
      flex-direction: column;
      gap: var(--spacing-48);
      gap: 0;
      max-width: 33.75rem;
    }

    @include mobile-lg {
      gap: var(--spacing-12);
    }
  }

  &__text {
    flex: 1;
    max-width: 38.75rem; /* 620px */
    padding: 0 var(--spacing-40);

    @include desktop {
      padding: 0;
    }

    @include tablet {
      max-width: 100%;
    }
  }

  &__badge {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    margin-bottom: var(--spacing-16);

    @include mobile-lg {
      margin-bottom: var(--spacing-12);
    }

    @include mobile-sm {
      justify-content: center;
    }
    
    span {
      @include text-style("badge");
      letter-spacing: 0.0375rem;
    }
  }

  &__badge-icon {
    width: 1.125rem; /* 18px */
    height: 1.125rem;
  }

  &__title {
    @include text-style("title-md");
    margin-bottom: var(--spacing-24);

    @include mobile-sm {
      text-align: center;
    }
  }

  &__desc {
    @include text-style("caption-sm");
    margin: 0;

    @include mobile-sm {
      text-align: center;
    }
  }

  &__visual {
    flex: 1;
    max-width: 38.75rem; /* 620px */

    @include tablet {
      max-width: 100%;
    }
  }

  &__image-wrap {
    width: 100%;
    border-radius: var(--radius-24);
    overflow: hidden;
    padding: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}
