@use '../abstracts/variables' as *;

.shop {
  text-align: center;

  /* ========== SHOP INTRO ========== */ 
  &__intro {

    &-badge {
      @include text-style("badge");
      margin-bottom: var(--spacing-16);
    }
  
    &-title {
      @include text-style("title-lg");
    }
  }

  /* ========== SHOP CONTENT ========== */ 
  &__content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-80);

    @include laptop {
      gap: var(--spacing-64);
    }

    @include tablet {
      flex-direction: column;
      max-width: 45.3rem;
      width: 90%;
      gap: var(--spacing-24);
    }

    @include mobile-sm {
      width: 100%;
    }
  }
}
