@use '../abstracts/variables' as *;

.specs {
  &__header {
    text-align: center;

    &-badge {
      @include text-style("badge");
      display: inline-block;
      margin-bottom: var(--spacing-16);
    }

    &-title {
      @include text-style("title-lg");
      margin-bottom: var(--spacing-24);
    }

    &-desc {
      @include text-style("caption-md");
    }
  }

  /* =============== TABLE SECTION =============== */
  &__table {
    max-width: 60rem; // 960px
    
    &-wrapper {
      @include glass-effect;
      border-radius: var(--radius-24);
      width: 100%;
      overflow: hidden;
      container-type: inline-size; // @container 트래킹을 위한 속성

      @include mobile-lg {
        max-width: 41.3rem;  
      }
    }

    &-header {
      padding: var(--spacing-20) var(--spacing-32);
      background-color: var(--color-glass);
      border-bottom: 1px solid var(--color-border);

      @include mobile-sm {
        padding: var(--spacing-20) var(--spacing-24);
      }

      // 모던 브라우저에서는 부모(TABLE)의 크기 500px에서 속성 적용
      @supports (container-type: inline-size) {
        @container (max-width: 500px) {
          padding: var(--spacing-20) var(--spacing-24);
        }
      }
  
      h2 {
        @include text-style("caption-lg");
        font-size: var(--fz-body-lg);
        line-height: 1.4;
      }
    }
  
    &-content {
      width: 100%;
      border-collapse: collapse;
      text-align: left;
    }
  
    /* ----- TBODY ----- */
    &-row {
      @include text-style("desc-sm");
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--spacing-16) var(--spacing-32);
      border-bottom: 1px solid var(--color-border);
      
      
      @include mobile-sm {
        flex-direction: column;
        align-items: flex-start;
        padding: var(--spacing-12) var(--spacing-24);
      }

      // 모던 브라우저에서는 부모(TABLE)의 크기 500px에서 속성 적용
      @supports (container-type: inline-size) {
        @container (max-width: 500px) {
          flex-direction: column;
          align-items: flex-start;
          padding: var(--spacing-12) var(--spacing-24);
        }
      }

      &:last-child {
        border-bottom: none;
      }

      th.label {
        font-weight: var(--fw-regular);
      }

      td.value {
        font-weight: var(--fw-medium);
        color: var(--color-text-main);
      }
    }
  }
  
}
