@use '../abstracts/variables' as *;

.specs {
  &__header {
    text-align: center;

    &-badge {
      @include text-style("badge");
      display: inline-block;
      margin-bottom: var(--spacing-16);
    }

    &-title {
      @include text-style("title-lg");
      margin-bottom: var(--spacing-24);
    }

    &-desc {
      @include text-style("caption-md");
    }
  }

  /* =============== TABLE SECTION =============== */
  &__table {
    @include flex-center-column;
    gap: var(--spacing-120);
    width: 100%;
    max-width: 60rem; // 960px
  }

  // Specs Table Layout
  &__table-wrapper {
    @include glass-effect;
    border-radius: var(--radius-24);
    width: 100%;
    overflow: hidden;

    .specs__table-header {
      padding: var(--spacing-20) var(--spacing-32);
      background-color: var(--color-glass);
      border-bottom: 1px solid var(--color-border);

      h2 {
        @include text-style("caption-lg");
        font-size: var(--fz-body-lg);
        line-height: 1.4;
      }
    }

    .specs__table-content {
      width: 100%;
      border-collapse: collapse;
      text-align: left;
    }

    .specs__table-body {
      .specs__table-row {
        @include text-style("desc-sm");
        border-bottom: 1px solid var(--color-border);
        
        &:last-child {
          border-bottom: none;
        }

        th, td {
          padding: var(--spacing-16) var(--spacing-32);
          vertical-align: middle;
        }

        th.label {
          font-weight: normal;
        }

        td.value {
          font-weight: var(--fw-medium);
          color: var(--color-text-main);
          text-align: right;
        }
      }
    }
  }
}
