@use '../abstracts/variables' as *;

.support__downloads {
  /* =============== SUPPORT DOWNLOADS  =============== */
  &-header {
    text-align: center;
    
    h2 {
      @include text-style("title-sm");
      margin-bottom: var(--spacing-8);
    }

    p {
      @include text-style("caption-sm");
    }
  }

  &-grid {
    @include flex-center;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--spacing-36);

    @include mobile-lg {
      flex-direction: column;
    }
  }

  &-card {
    @include flex-center-column;
    @include glass-effect;
    flex: 1;
    min-width: 20rem;
    max-width: 30rem;
    padding: var(--spacing-40) var(--spacing-32);
    border-radius: var(--radius-24);
    transition: border-color var(--transition-fast), box-shadow var(--transition-fast);

    @include mobile-lg {
      width: 100%;
      padding: var(--spacing-32) var(--spacing-24);
    }

    @include mobile-sm {
      width: 90%;
      padding: var(--spacing-24) var(--spacing-16);
    }

    &:hover {
      @include focus-ring
    } 

    .icon-box {
      @include flex-center;
      width: 4rem; // 64px
      height: 4rem;
      margin-bottom: var(--spacing-24);
      border-radius: var(--radius-16);
      background-color: rgba(var(--color-primary-rgb), 0.1);
    }

    h3 {
      @include text-style("title-xs");
      font-family: var(--font-kr);
      margin-bottom: var(--spacing-12)
    }

    .meta {
      @include flex-center;
      gap: var(--spacing-12);
      margin-bottom: var(--spacing-16);
      
      .format {
        @include text-style("tiny-sm");
        @include glass-effect;
        padding: var(--spacing-4) var(--spacing-8);
        border-radius: var(--radius-4);
        font-family: var(--font-en);
        line-height: 1;
        backdrop-filter: none;
      }

      .size {
        @include text-style("tiny-md");
        font-family: var(--font-en);
      }
    }

    .desc {
      @include text-style("desc-sm");
      margin-bottom: var(--spacing-20);
    }

    .download-btn {
      @include flex-center;
      gap: var(--spacing-8);
    }
  }
}
